* グローバルスタイル */
*, :after, :before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nu Moti';
    src: url('../fonts/NuYomogiMochi-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #57b0d9;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: 'Nu Moti', "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", sans-serif;
    line-height: 1.5;
    text-align: left;
}

html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

/* サイト全体のスタイル */
/* 既存のスタイルに追加 */
ul {
    margin-bottom: 50px; /* リストの下のマージンを調整 */
}

.site {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #57b0d9;
}

/* ヘッダースタイル */
header {
    background-color: #57b0d9;
    padding: 30px;
    width: 100%;
    display: flex; /* フレックスボックスを使用 */
    justify-content: space-between; /* 左端と右端に配置 */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 10px;
}

.header-content {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.header-border {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%; /* ヘッダーの幅に合わせる */
    height: 1px; /* ボーダーの高さ */
    background-color: black; /* ボーダーの色 */
}

.header-border_2 {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%; /* ヘッダーの幅に合わせる */
    height: 1px; /* ボーダーの高さ */
    background-color: white; /* ボーダーの色 */
}

.message-list {
    margin-bottom: 10px;
}

.nes-balloon {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.title-link {
    text-decoration: none;
    color: #FFFFFF;
}

.title-link:hover {
    color: inherit; /* ホバー時に色を変えない */
}

.title {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
}

/* ナビゲーションスタイル */
.nav {
    display: flex;
    justify-content: flex-end;
}

.nav a {
    margin-left: 10px; /* ボタン間のスペース */
}

/* メインコンテンツスタイル */
.wrapper {
    flex: 1;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #57b0d9;
}

main {
    padding: 0;
    background-color: #57b0d9;
}

.profile {
    text-align: left;
}

.sns-message {
    margin-bottom: 60px; /* nes-balloonの下にスペースを追加 */
}

.sns-icon {
    margin-right: 30px; /* アイコン間のスペースを追加 */
}

#left-icon i {
    font-size: 10em;
}

.sns-icons {
    display: flex; /* フレックスボックスを使用して横並びにする */
    align-items: flex-end;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

/* フッタースタイル */
.footer {
    background-color: #57b0d9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* NES.css ボタンのカスタマイズ */
.nes-btn {
    margin: 5px;
}

/* その他のスタイル */
.normal-font {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.blog-link {
    color: #FFFFFF;
    text-decoration: underline;
}

.blog-link:hover {
    text-decoration: none;
}

/* キャリア、スキル、ライセンス、エンジニア、趣味セクションのスタイル */
.career, .skill, .license, .engineer, .hobby {
    text-align: left;
    margin-bottom: 30px;
}

.skill ul, .license ul {
    list-style-type: none;
    padding-left: 0;
}

.more-info {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hobby-image {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-top: 10px;
    }

    .wrapper {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }
}