<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- 英語用 -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pixel-mplus@2.0.0/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/to_know.css">
</head>
<body>
    <div id="app">
        <div class="site">
            <header>
                <div class="header-content">
                    <a href="/" class="title-link" style="text-decoration: none; color: inherit;">
                        <div class="title">
                            <h1>ORAホーム</h1>
                        </div>
                    </a> 
                    <nav class="nav">
                        <a href="/blog" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">ブログ</button>
                        </a>
                        <a href="/" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">プロフィール</button>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="header-border"></div>
            <div class="wrapper">
                <main>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>直近の個人開発、勉強</h2>
                            <h3>2024</h3>
                            <h4>
                                <ul>
                                    <li>Pokemon Typing : pokemon APIを使用したproject</li>
                                    <li>「AWS EC2」: RESTful API実装後、構築とデプロイ</li>
                                    <li>Paiza : Sランク問題</li>
                                    <li>LeetCode</li>
                                </ul>
                            </h4>
                        </div>
                        <div class="project">
                        <h2>自己紹介HP制作 【2024/08月/3day】</h2>
                            <h3>・プロジェクト概要</h3>
                            <h4>株式会社ゆめみさんの通年インターンで、自動デプロイできる自己紹介HP制作をしました。</h4>
                            <h3>・選定技術</h3>
                            <ul>
                                <h4>
                                    <li>Flask</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Docker</li>
                                    <li>Github Actions</li>
                                    <li>Render</li>
                                    <li>GAS</li>
                                    <li>Gunicorn</li>
                                    <li>NES.css</li>
                                <h4>
                            </ul>
                            <h3>・開発メンバー</h3>
                            <h4>自身 x 1 メンター x 1</h4>
                            <h3>・担当内容</h3>
                            <h4>自身で個人開発を考えて進めて、開発内容とコードレビュー時にメンターさんにフィードバック頂くという形の流れ。</h4>
                            <h3>・苦労した点、取り組み</h3>
                            <h4>Render.comへのGithub Actions構築方法が初めての経験でした。ですが、Github Marketplaceなど情報が少なく苦労しました。</br>
                                対する取り組みとして、その中で見つけた先人たちのActionsを参考にしつつ、自分が望むワークフローに合わせてオリジナルのActionsを作成し、構築を完了しました。</h4>                   
                            <h3>・記事</h3>
                            <p style="margin-bottom: 60px;">Render.comでのデプロイを行うためのGitHub Actions構築方法が初めてだったのでQiitaに記事を書きました。</p>
                        </div>
                    </div>
                    <div style="margin-top: -30px; margin-bottom: 50px;">
                        <a href="https://qiita.com/ora_yoshito/items/a1e697236e7edbbda7fb" class="nes-btn is-warning">キータ</a>
                    </div>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>寿司オーダーシステムのアーキテクト 【2024/03月/1day】</h2>
                            <h3>・プロジェクト概要</h3>
                            <h4>株式会社ゆめみさんのインターンで、アーキテクトの代打として設計業務課題</h4>
                            <h3>・課題内容</h3>
                            <h4>
                                <ul>
                                    <li>ER図設計</li>
                                    <li>API仕様作成</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">シーケンス図作成</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・メンバー</h3>
                            <h4>学生 x 3</h4>
                            <h3>・担当内容</h3>
                            <h4>
                                <ul>
                                    <li>チームリーダだったので画面キャプチャでの進行役</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">ER図設計、API仕様作成、シーケンス図作成</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・苦労した点、取り組み</h3>
                            <h4>
                                前任者の設計を基に、設計意図を読み解くことや新たな要件変更に対してどのような追加や修正が必要かを検討することに苦労しました。</br>
                                対する取り組みとして、前任者のER図が複雑化していたため、中間テーブルを設けてデータベースのリレーションがさらに複雑にならないよう配慮し、複数使用するデータ無いようにデータの冗長性も排除し、正規化に意識を向けてER図の作成を進めました。
                            </h4>
                        </div>
                    </div>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>「楽々に書類作成!」基幹システム開発 【2023/09月 ~ 2023/12月/3month】</h2>
                            <h3>・開発概要</h3>
                            <h4>申請書類の作成や管理をサポートするWebアプリケーションを開発</h4>
                            <h3>・開発背景</h3>
                            <h4>
                                現状の多くの県や市の行政サービスでは、手続きが紙ベースで行われており、市民や職員にとって多くの時間と労力がかかるという課題がありました。
                                特に渋谷区の「申請書類の手続きが多い事」や「全ての書類が手書き」と言ったアンケート結果が多数あったので、行政手続きの多さと煩雑さを減らすことを目的に、
                                申請に必要な書類を簡潔に準備できるWebアプリケーションの構築に取り組みました。
                            </h4>
                            <h3>選定技術</h3>
                            <h4>
                                <ul>
                                    <li>
                                        <p style="margin-bottom: -32px;">Python</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・開発メンバー</h3>
                            <h4>エンジニア x 2<br> デザイナー x 1</h4>
                            <h4>楽天エンジニアの方とデザイナーの方</h4>
                            <h3>・担当領域</h3>
                            <h4>
                                <ul>
                                    <li>バックエンド</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">書類のテンプレートPDFとの合成を行う自動化プログラム</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>苦労した点、取り組み</h3>
                            <h4>開発中、PDFの読み書きやファイル操作の過程で予期せぬエラーが発生することがありました。特にファイル入出力時の一貫性確保が難しく、これがシステムの安定稼働に影響を与えることもありました。
                                対する取り組みとして、try構文を用いて例外処理を行い、特定のエラーが発生した際には適切なメッセージを表示し、ユーザーや開発者が即座に問題の原因を特定できるよう工夫しました。</h4>
                        </div>
                    </div>
                        <div class="career normal-font">                                                      
                            <div class="project">
                                <h2>業務委託HP制作 【2022/07月 ~ 2022/10月/3month】</h2>
                                <h3>・プロジェクト概要</h3>
                                <h4>インターン先のアイスリー株式会社さんで0~100のHP制作</h4>
                                <h3>・選定技術</h3>
                                <h4>
                                    <ul>
                                        <li>WordPress</li>
                                        <li>プラグイン</li>
                                        <li>PHP</li>
                                        <li>JavaScript</li>
                                        <li>HTML</li>
                                        <li>
                                            <p style="margin-bottom: -32px;">CSS</p>
                                        </li>
                                    </ul>
                                <h4>
                                <h3>・メンバー</h3>
                                <h4>エンジニア x 1</h4>
                                <h3></h3>
                                <h4>
                                    <ul>
                                        <li>バックエンド、フロントエンド</li>
                                        <li>画面設計/実装</li>
                                        <li>プラグイン選定</li>
                                        <li>SEO対策</li>
                                    </ul>
                                </h4>
                            </div>
                        </div>
                        <div style="margin-top: -30px; margin-bottom: 50px;">
                            <a href="https://i-3.co.jp/" class="nes-btn is-warning">せいかぶつ</a>
                        </div>
                        <div class="career normal-font">
                            <div class="project">
                                <h2>出席管理アプリ 【2021/04月 ~ 2021/11月】</h2>
                                <h3>・プロジェクト概要</h3>
                                <p>VANTAN TECH FORD ACADEMY 開校2年目で、手動管理だったのでアプリで管理</p>
                                <h3>・選定技術</h3>
                                <h4>
                                    <ul>
                                        <li>Adalo (ノーコードツール)</li>
                                        <li>Python</li>
                                        <li>HTML</li>
                                        <li>
                                            <p style="margin-bottom: -32px;">JavaScript</p>
                                        </li>
                                    </ul>
                                <h4>
                                <h3>・開発メンバー</h3>
                                <h4>エンジニア x 2</h4>
                                <h3>・担当内容</h3>
                                <h4>
                                    <ul>
                                        <li>バックエンド、フロントエンド</li>
                                        <li>テーブル設計</li>
                                        <li>APIの設計/実装</li>
                                        <li>画面設計/実装</li>
                                    </ul>
                                </h4>
                            </div>
                        </div>
                        <div style="margin-top: 85px;">
                            <a href="/" class="nes-btn is-warning">もどる</a>
                        </div>
                </main>
            </div>
            <footer class="footer">
                <p>© 2024 Ora</p>
            </footer>
        </div>
    </div>
</body>
</html>
