<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- 英語用 -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pixel-mplus@2.0.0/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/to_know.css">
</head>
<body>
    <div id="app">
        <div class="site">
            <header>
                <div class="header-content">
                    <a href="/" class="title-link" style="text-decoration: none; color: inherit;">
                        <div class="title">
                            <h1>ORAホーム</h1>
                        </div>
                    </a> 
                    <nav class="nav">
                        <a href="/blog" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">ブログ</button>
                        </a>
                        <a href="/" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">プロフィール</button>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="header-border"></div>
            <div class="wrapper">
                <main>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>直近の個人開発、勉強</h2>
                            <h3>2024</h3>
                            <h4>
                                <ul>
                                    <li>Pokemon Typing : pokemon APIを使用したproject</li>
                                    <li>「AWS EC2」: RESTful API実装後、構築とデプロイ</li>
                                    <li>Paiza : Sランク問題</li>
                                    <li>LeetCode</li>
                                </ul>
                            </h4>
                        </div>                      
                    </div>
                    <div style="margin-top: -30px; margin-bottom: 50px;">
                        <a href="https://qiita.com/ora_yoshito/items/a1e697236e7edbbda7fb" class="nes-btn is-warning">キータ</a>
                    </div>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>株式会社ゆめみ 1dayインターン 【2024/03月/1day】</h2>
                            <h3>・プロジェクト概要</h3>
                            <h4>前任者のアーキテクト代打として設計業務課題</h4>
                            <h3>・課題内容</h3>
                            <h4>
                                <ul>
                                    <li>ER図設計</li>
                                    <li>API仕様作成</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">シーケンス図作成</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・メンバー</h3>
                            <h4>学生 x 3</h4>
                            <h3>・担当内容</h3>
                            <h4>
                                <ul>
                                    <li>チームリーダーとして、画面キャプチャでの進行役</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">ER図設計、API仕様作成、シーケンス図作成</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・苦労した点、取り組み</h3>
                            <h4>
                                前任者の複雑なER図の意図を読み解き、新たな要件に対応するために、データの冗長性を排除し正規化を意識して再設計しました。<br>
                                中間テーブルを設けてリレーションの複雑化を抑え、効率的なデータベース構築に努めました。</br>
                            </h4>
                        </div>
                    </div>
                    <div class="career normal-font">
                        <div class="project">
                            <h2>渋谷スタートアップユニバーシティ 【2023/09月 ~ 2023/12月/3month】</h2>
                            <h3>・開発概要</h3>
                            <h4>申請書類の作成や管理をサポートするWebアプリケーションを開発</h4>
                            <h3>・開発背景</h3>
                            <h4>
                                多くの行政手続きが紙ベースで進められ、市民や職員に負担がかかっている現状を受け、手続きの簡略化を目指しました。</br>
                                渋谷区のアンケート結果を基に、申請書類を簡潔に準備できるWebアプリケーションの構築に取り組みました。
                            </h4>
                            <h3>選定技術</h3>
                            <h4>
                                <ul>
                                    <li>
                                        <p style="margin-bottom: -32px;">Python</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>・開発メンバー</h3>
                            <h4>エンジニア x 2<br> デザイナー x 1</h4>
                            <h4>楽天エンジニアの方とデザイナーの方</h4>
                            <h3>・担当領域</h3>
                            <h4>
                                <ul>
                                    <li>バックエンド</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">書類のテンプレートPDFとの合成を行う自動化プログラム</p>
                                    </li>
                                </ul>
                            </h4>
                            <h3>苦労した点、取り組み</h3>
                            <h4>
                                PDFの読み書きやファイル操作中に予期せぬエラーが発生し、ファイル入出力の一貫性確保が課題でした。<br>
                                そこで、try構文で例外処理を行い、エラー発生時に適切なメッセージを表示して原因特定を容易にしました。
                            </h4>
                        </div>
                    </div>
                        <div class="career normal-font">                                                      
                            <div class="project">
                                <h2>アイスリー株式会社 インターン/業務委託 【2022/07月 ~ 2022/10月/3month】</h2>
                                <h3>・プロジェクト概要</h3>
                                <h4>アイスリー株式会社の0~100のHP制作</h4>
                                <h3>・選定技術</h3>
                                <h4>
                                    <ul>
                                        <li>WordPress</li>
                                        <li>プラグイン</li>
                                        <li>PHP</li>
                                        <li>JavaScript</li>
                                        <li>HTML</li>
                                        <li>
                                            <p style="margin-bottom: -32px;">CSS</p>
                                        </li>
                                    </ul>
                                <h4>
                                <h3>・メンバー</h3>
                                <h4>エンジニア x 1</h4>
                                <h3></h3>
                                <h4>
                                    <ul>
                                        <li>バックエンド、フロントエンド</li>
                                        <li>画面設計/実装</li>
                                        <li>プラグイン選定</li>
                                        <li>SEO対策</li>
                                    </ul>
                                </h4>
                            </div>
                        </div>
                        <div style="margin-top: -30px; margin-bottom: 50px;">
                            <a href="https://i-3.co.jp/" class="nes-btn is-warning">せいかぶつ</a>
                        </div>
                        <div class="career normal-font">
                            <div class="project">
                                <h2>出席管理アプリ 【2021/04月 ~ 2021/11月】</h2>
                                <h3>・プロジェクト概要</h3>
                                <p>VANTAN TECH FORD ACADEMY 開校2年目で、手動管理だったのでアプリで管理・運用</p>
                                <h3>・選定技術</h3>
                                <h4>
                                    <ul>
                                        <li>Adalo (ノーコードツール)</li>
                                        <li>Python</li>
                                        <li>HTML</li>
                                        <li>
                                            <p style="margin-bottom: -32px;">JavaScript</p>
                                        </li>
                                    </ul>
                                <h4>
                                <h3>・開発メンバー</h3>
                                <h4>エンジニア x 2</h4>
                                <h3>・担当内容</h3>
                                <h4>
                                    <ul>
                                        <li>バックエンド、フロントエンド</li>
                                        <li>テーブル設計</li>
                                        <li>APIの設計/実装</li>
                                        <li>画面設計/実装</li>
                                    </ul>
                                </h4>
                            </div>
                        </div>
                        <div style="margin-top: 85px;">
                            <a href="/" class="nes-btn is-warning">もどる</a>
                        </div>
                </main>
            </div>
            <footer class="footer">
                <p>© 2024 Ora</p>
            </footer>
        </div>
    </div>
</body>
</html>
