<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- 英語用 -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pixel-mplus@2.0.0/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/to_know.css">
</head>
<body>
    <div id="app">
        <div class="site">
            <header>
                <div class="header-content">
                    <a href="/" class="title-link" style="text-decoration: none; color: inherit;">
                        <div class="title">
                            <h1>ORAホーム</h1>
                        </div>
                    </a> 
                    <nav class="nav">
                        <a href="/blog" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">ブログ</button>
                        </a>
                        <a href="/" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">プロフィール</button>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="header-border"></div>
            <div class="wrapper">
                <main>
                        <div class="career normal-font">
                            <div class="project">
                                <h2>出席管理アプリ</h2>
                                <h3>プロジェクト概要</h3>
                                <p>VANTAN TECH FORD ACADEMY 開校2年目で、手動管理だったのでアプリで管理</p>
                                <h3>期間</h3>
                                <p>2021/04 ~ 2021/11</p>
                                <h3>使用技術</h3>
                                <ul>
                                    <li>Adalo (ノーコードツール)</li>
                                    <li>Python</li>
                                    <li>HTML</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">JavaScript</p>
                                    </li>
                                </ul>
                                <h3 >開発メンバー</h3>
                                <p>エンジニア x 2</p>
                                <h3>担当内容</h3>
                                <ul>
                                    <li>バックエンド、フロントエンド</li>
                                    <li>テーブル設計</li>
                                    <li>APIの設計/実装</li>
                                    <li>画面設計/実装</li>
                                </ul>
                            </div>
                            
                            <div class="project">
                                <h2>業務委託HP制作</h2>
                                <h3>プロジェクト概要</h3>
                                <p>インターン先のアイスリー株式会社さんで0~100のHP制作</p>
                                <h3>期間</h3>
                                <p>2022/07 ~ 2022/10</p>
                                <h3>使用技術</h3>
                                <ul>
                                    <li>WordPress</li>
                                    <li>PHP</li>
                                    <li>JavaScript</li>
                                    <li>HTML</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">CSS</p>
                                    </li>
                                </ul>
                                <h3>開発メンバー</h3>
                                <p>エンジニア x 1</p>
                                <h3>担当内容</h3>
                                <ul>
                                    <li>バックエンド、フロントエンド</li>
                                    <li>画面設計/実装</li>
                                    <li>プラグイン選定</li>
                                    <li>SEO対策</li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin-top: -30px; margin-bottom: 50px;">
                            <a href="https://i-3.co.jp/" class="nes-btn is-warning">せいかぶつ</a>
                        </div>
                        <div class="career normal-font">
                            <div class="project">
                                <h2>「楽々に書類作成!」基幹システム開発</h2>
                                <h3>プロジェクト概要</h3>
                                <p>渋谷の申請書類などをPDF化するPythonプログラムを作成</p>
                                <h3>期間</h3>
                                <p>2023/09 ~ 2023/12</p>
                                <h3>使用技術</h3>
                                <ul>
                                    <li>
                                        <p style="margin-bottom: -32px;">Python</p>
                                    </li>
                                </ul>
                                <h3>開発メンバー</h3>
                                <p>エンジニア x 2<br> デザイナー x 1</p>
                                <p>楽天エンジニアの方とメガベンチャーデザイナーの方</p>
                                <h3>担当内容</h3>
                                <ul>
                                    <li>バックエンド</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">書類のテンプレートPDFとの合成を行う自動化プログラム</p>
                                    </li>
                                </ul>
                                <h3>余談</h3>
                                <p>デモ起業でしたが、数十人の本格派のメンターの授業やアドバイスを受けながらプロジェクトを進め、<br>起業の作法や知識を得られ凄く貴重な体験でした。</p>
                                <p style="margin-bottom: 60px;">※デモ起業なのでリリースなどの実施は規定✖</p>
                            </div>
                            
                            <div class="project">
                                <h2>寿司オーダーシステムのアーキテクト (ワークショップ課題)</h2>
                                <h3>プロジェクト概要</h3>
                                <p>株式会社ゆめみさんのインターンで、アーキテクトの代打として設計業務課題</p>
                                <h3>期間</h3>
                                <p>2024/03</p>
                                <h3>使用技術</h3>
                                <ul>
                                    <li>ER図設計</li>
                                    <li>API仕様作成</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">シーケンス図</p>
                                    </li>
                                </ul>
                                <h3>開発メンバー</h3>
                                <p>エンジニア x 3</p>
                                <h3>担当内容</h3>
                                <ul>
                                    <li>チームリーダだったので画面キャプチャでの進行役</li>
                                    <li>
                                        <p style="margin-bottom: -32px;">ER図、API仕様の設計、シーケンス図作成</p>
                                    </li>
                                </ul>
                                <h3>余談</h3>
                                <p style="margin-bottom: 60px;">前任者の設計を元にキャッチアップし、新たな要件変更に対して追加や修正を洗い出す作業や、<br>美しいWeb APIを設計するなど流れや知識を得られ凄く貴重な体験でした。</p>
                            </div>

                            <div class="project">
                                <h2>直近の個人開発、勉強</h2>
                                <h3>2024</h3>
                                <ul>
                                    <li>自己紹介HP : Github Actionsで構築をしてRenderへデプロイ、Dockerコンテナ化、GASのトリガー設定</li>
                                    <li>Pokemon Typing : pokemon APIを使用したproject                             
                                    <li>「AWS EC2」: RESTful API実装後、構築とデプロイ</li>
                                    <li>Track job : 練習問題</li>
                                    <li>Paiza : アルゴリズム問題</li>
                                    <li>Git challenge</li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin-top: 85px;">
                            <a href="/" class="nes-btn is-warning">もどる</a>
                        </div>
                </main>
            </div>
            <footer class="footer">
                <p>© 2024 Ora</p>
            </footer>
        </div>
    </div>
</body>
</html>
