<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- 英語用 -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pixel-mplus@2.0.0/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="app">
        <div class="site">
            <header>
                <div class="header-content">
                    <a href="/" class="title-link" style="text-decoration: none; color: inherit;">
                        <div class="title">
                            <h1>ORAホーム</h1>
                        </div>
                    </a> 
                    <nav class="nav">
                        <a href="/blog" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">ブログ</button>
                        </a>
                        <a href="/" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">プロフィール</button>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="header-border"></div>
            <div class="wrapper">
                <main>
                    <div class="profile">
                        <div class="sns-message">
                            <section class="message-list">
                                <section class="message -left">
                                    <div class="nes-balloon from-left is-dark">
                                        <p>どうもこんにちは、イノウエヨシト (ORA) と申します。 具体的に知ってもらう為に、HPを制作しました。</p>
                                    </div>
                                </section>
                            </section>
                        </div>
                        
                        <div class="sns-icons">
                            <a href="" class="sns-icon" target="_blank" rel="noopener noreferrer">
                                <i class="nes-ash"></i>                                                           
                            </a>
                            <a href="" class="sns-icon" target="_blank" rel="noopener noreferrer">
                                <i class="nes-icon twitter is-large"></i>                             
                            </a>
                            <a href="https://github.com/Inoueyoshito" class="sns-icon" target="_blank" rel="noopener noreferrer">
                                <i class="nes-icon github is-large"></i>
                            </a>
                        </div>
                    </div>
                        <h2>自己紹介</h2>
                        <div class="career normal-font">
                            <h4>
                                青森県出身、2002年07月11日生まれ。現在は、42Tokyoに在籍している2025年1月に卒業予定の学生。</br>
                                小さい頃から、プロサッカー選手を目指すために、スペイン留学や選抜とサッカー漬けの青年。</br>
                                高校2年時に学校推薦でSilicon Valley Projectに参加し、GAFA本社を巡りプログラミングに興味を持ち始め学習のきっかけとなる。</br>
                            </h4>
                        </div>
                        <div class="">
                            <a href="/to_know" class="nes-btn is-warning">もっと知りたい</a>
                        </div>
                        <h2>ソフトウェア開発の魅力、理由</h2>
                        <div class="career normal-font">
                            <h4>
                                人生は課題解決の連続ですが、その過程でソフトウェアが現代の人々の大きな支えになっていることに凄く魅力を感じている。</br>
                                想像やアイデアを形にして、自身が提供・創出した物を誰かの課題解決に繋げていきたい。</br>
                            </h4>
                        </div>
                        <h2>スキル・経験</h2>
                        <div class="skill normal-font">
                            <div>
                                <h4>
                                    <span>・Python</span>
                                    <span>・C</span>
                                    <span>・Golang (little)</span>
                                    <span>・PHP (little)</span>
                                    <span>・JavaScript (little)</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・HTML</span>
                                    <span>・CSS</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・Django</span>
                                    <span>・Flask</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・PostgreSQL</span>
                                    <span>・MySQL</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・Docker</span>
                                    <span>・AWS EC2</span>
                                    <span>・Render</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・Unit Testing</span>
                                    <span>・Github Actions</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・Github</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・Paiza競技プログラミング Sランク</span>
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    <span>・ゆめみパスポート取得</span>
                                </h4>
                            </div>
                        </div>
                        <h2>インターン</h2>
                        <div class="license normal-font">
                            <h4>
                                <li>2022年7月~10月、アイスリー株式会社にて業務委託(HP作成) / インターン</li>
                                <li>2023年9月~12月、Shibuya Startup University デモ起業 / チーム開発</li>
                                <li>2024年3月1日、株式会社ゆめみにて春の1dayインターンシップ</li>
                                <li>2024年8月、株式会社ゆめみにて通年インターンシップ</li>
                            </h4>
                        </div>
                        <div class="">
                            <a href="/create_production" class="nes-btn is-warning">もっと知りたい</a>
                        </div>
                        <h2>学習方法</h2>
                        <div class="engineer normal-font">
                            <h4>
                                未完成なアイディアを形にする事が好きなので、開発をしていく過程で新しい技術やツールを学ぶ事が多い。</br>
                                挑戦することで見える景色が変わることは非常に重要だと考えているので、興味を持った学びについては、すぐに着手する意識を持っている。</br>
                            </h4>
                        </div>
                        <h2>シュミ</h2>
                        <div class="hobby normal-font">
                            <h4>
                                サッカー、筋トレ、海外旅、たまに読書や技術書読む事が好き。<br>
                            </h4>
                            <img src="/static/images/S__21438478.jpg" alt="saccer" class="hobby-image" />
                            <img src="/static/images/S__21446661.jpg" alt="book" class="hobby-image" />
                        </div>
                    </div>
                </main>
            </div>
            <footer class="footer">
                <p>© 2024 Ora</p>
            </footer>
        </div>
    </div>
</body>
</html>
