<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/pixel-mplus@2.0.0/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class="site">
            <header>
                <div class="header-content">
                    <a href="/" class="title-link">
                        <div class="title">
                            <h1>ORA Profile</h1>
                        </div>
                    </a> 
                    <nav class="nav">
                        <a href="/blog" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">Blog</button>
                        </a>
                        <a href="/" class="router-link-active router-link-exact-active">
                            <button class="nes-btn is-warning">Profile</button>
                        </a>
                    </nav>
                </div>
            </header>
            
            <div class="wrapper">
                <main>
                    <div class="profile">
                        <div class="sns">
                            <a href="" class="sns-icon" target="_blank" rel="noopener noreferrer">
                                <i class="nes-icon twitter is-large"></i>
                            </a>
                            <a href="https://github.com/Inoueyoshito" class="sns-icon" target="_blank" rel="noopener noreferrer">
                                <i class="nes-icon github is-large"></i>
                            </a>
                        </div>
                        
                        <h2>Career</h2>
                        <div class="career normal-font">
                            <p>
                                
                            </p>
                        </div>
                        
                        <div class="more-info">
                            <a href="/work-experience" class="nes-btn is-warning">mottosiritai</a>
                        </div>
                        
                        <h2>Skill</h2>
                        <div class="skill normal-font">
                            <ul>
                                <li>Python</li>
                                <li>C</li>
                                <li>Golang (little)</li>
                                <li>JavaScript (little)</li>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        </div>
                        
                        <h2>License</h2>
                        <div class="license normal-font">
                            <ul>
                                <li>第一種普通自動車免許取得</li>
                            </ul>
                        </div>
                        
                        <h2>What kind of engineer</h2>
                        <div class="engineer normal-font">
                            <p>
                                
                            </p>
                        </div>
                        
                        <h2>Hobby</h2>
                        <div class="hobby normal-font">
                            <p>
                                サッカーと読書と筋トレが好き。<br>
                            </p>
                        </div>
                    </div>
                </main>
            </div>
            <footer class="footer">
                <p>© 2024 Ora</p>
            </footer>
        </div>
    </div>
</body>
</html>